In [1]:
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
pd.read_csv(uri)

    home  how_it_works  contact  bought
0      1             1        0       0
1      1             1        0       0
2      1             1        0       0
3      1             1        0       0
4      1             1        0       0
..   ...           ...      ...     ...
94     0             0        1       0
95     1             1        1       1
96     0             0        1       0
97     0             1        0       0
98     0             0        0       0

[99 rows x 4 columns]

In [2]:
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [3]:
dados[["home", "how_it_works", "contact"]]

    home  how_it_works  contact
0      1             1        0
1      1             1        0
2      1             1        0
3      1             1        0
4      1             1        0
..   ...           ...      ...
94     0             0        1
95     1             1        1
96     0             0        1
97     0             1        0
98     0             0        0

[99 rows x 3 columns]

In [4]:
dados[["bought"]]

    bought
0        0
1        0
2        0
3        0
4        0
..     ...
94       0
95       1
96       0
97       0
98       0

[99 rows x 1 columns]

In [5]:
mapa = {
    "home":"principal",
    "how_it_works":"como_funciona",
    "contact":"contato",
    "bought":"comprou"
}
dados = dados.rename(columns = mapa)

In [6]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados[["comprou"]]

In [7]:
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [8]:
y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

### Importante SEMPRE separar o conjunto de treino e o conjunto de testes. (25% para testes e o restante para treino)

In [9]:
dados.shape

(99, 4)

In [10]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]
teste_y.shape

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [11]:
# importamos o sklearn

from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

C:\Users\COMISSARIADO\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
from sklearn.model_selection import train_test_split

train_test_split(x,y, test_size=.25)

[    principal  como_funciona  contato
 18          0              0        1
 74          0              0        1
 86          1              1        0
 30          0              1        0
 41          0              0        1
 ..        ...            ...      ...
 2           1              1        0
 47          1              0        1
 81          0              0        1
 24          1              0        1
 83          1              0        1

 [74 rows x 3 columns],
     principal  como_funciona  contato
 5           1              0        1
 52          1              0        1
 38          1              1        0
 59          0              0        1
 82          0              0        1
 14          0              0        1
 77          0              1        0
 79          1              1        0
 9           1              0        1
 44          0              0        1
 22          0              0        1
 98          0              0        0
 97          0              1        0
 17          0              1        0
 90          1              0        1
 56          1              0        1
 23          0              1        0
 93          0              0        1
 57          1              1        0
 37          0              0        1
 58          1              0        1
 51          1              1        0
 28          0              1        0
 43          1              0        1
 65          0              1        1,
     comprou
 18        0
 74        0
 86        0
 30        0
 41        0
 ..      ...
 2         0
 47        1
 81        0
 24        1
 83        1

 [74 rows x 1 columns],
     comprou
 5         1
 52        1
 38        0
 59        0
 82        0
 14        0
 77        0
 79        1
 9         1
 44        0
 22        0
 98        0
 97        0
 17        0
 90        1
 56        1
 23        0
 93        0
 57        0
 37        0
 58        1
 51        0
 28        0
 43        1
 65        1]

### A partir daqui usaremos a biblioteca train_test_split para separar os dados de treino e teste

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20 # para que o experimento seja reproduzível

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

C:\Users\COMISSARIADO\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
treino_y.value_counts()

comprou
0          47
1          27
dtype: int64

In [18]:
teste_y.value_counts()

comprou
0          19
1           6
dtype: int64

### Os labels estão seguindo proporções diferentes no treino e no teste, o que é perigoso, pois pode enviesar o algoritmo!

In [19]:
# aqui usaremos o parãmetro "stratify" no Train_test_split para evitar essas proporções diferentes!

from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20 # para que o experimento seja reproduzível

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

C:\Users\COMISSARIADO\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Veremos como fica a proporção entre 0 e 1 agora com o uso do "stratify"

In [20]:
teste_y.value_counts()

comprou
0          17
1           8
dtype: int64

In [21]:
treino_y.value_counts()

comprou
0          49
1          25
dtype: int64